.hide {
  display: none;
}

/* FOOTER */
.crud {
  margin: 2rem auto;
  text-align: center;
}

.tabla {
  margin: 2rem auto;
  text-align: center;
  width: 400px;
}

.form {
  margin: 2rem auto;
  text-align: left;
  width: 150px;
}

footer {
  background-color: black;
  padding: 20px;
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-column a{
  display: block;
  color: white;
  text-decoration: none;
  margin-bottom: 10px;
}

.social-icons a {
  display: inline-block;
  margin-right: 10px;
}

.footer-bottom {
  text-align: center;
  font-size: 15px;
}

@media (max-width: 768px)  {
  .footer-column {
    flex-basis: 100%;
    text-align: center;
  }
}
